<ng-container *transloco="let t">
  <h2>{{ t('nav.Installers') }}</h2>
  <p-card>
    <p> {{ t('page.Install Angular Momentum on your device instead of using it via a web browser:') }}</p>
    <a
      pButton
      [class.disabled]="!connectivity.isOnline()"
      [href]="installersService.currentPlatformInstaller().url || ''"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="pi {{ installersService.currentPlatformInstaller().icon || '' }}"></i> {{ installersService.currentPlatformInstaller().name || '' }}
    </a>
  </p-card>
  <p-panel header="{{ t('page.Other Installers') }}" [toggleable]="true" toggler="header" [collapsed]="true">
    @for (installer of installersService.otherInstallers(); track installer.name) {
      <a
        pButton
        [class.disabled]="!connectivity.isOnline()"
        [href]="installer.url"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi {{ installer.icon }}"></i> {{ installer.name }}
      </a>
    }
  </p-panel>
</ng-container>
