@if (showBanner()) {
  <aside *transloco="let t">
    <p>
      {{ t('privacy.We use cookies to improve your experience and analyze site usage.') }}
      <a [routerLink]="['/privacy']">{{ t('privacy.Privacy Policy') }}</a>
    </p>
    <nav>
      <p-button
        [label]="t('Accept')"
        (click)="onAccept()"
        (keydown.enter)="onAccept()"
        severity="primary"
        size="small"
      />
      <p-button
        [label]="t('Decline')"
        (click)="onDecline()"
        (keydown.enter)="onDecline()"
        severity="secondary"
        [text]="true"
        size="small"
      />
    </nav>
  </aside>
}
