<ng-container *transloco="let t">
  <p-card>
    <p>{{ t('page.Turn features on and off for feature flag testing') }}</p>
    @if (!authService.isAuthenticated()) {
      <p-message severity="info" [text]="t('auth.Register or log in to access all features')" />
    }
    <hr>
    <ul class="feature-list">
      @for (feature of Object.entries(featureFlagService.features()); track $index) {
        <li [class.disabled]="!connectivity.isOnline() || !authService.isAuthenticated()">
          <p-toggleswitch
            [inputId]="'feature-'+feature[0]"
            [formControl]="featureControl(feature[0])"
          />
          <label [for]="'feature-'+feature[0]">{{ t(featureKey(feature[0])) }}</label>
        </li>
      }
    </ul>
  </p-card>
</ng-container>
