<app-dialog-menu position="left" width="42rem">
  <!-- Trigger: Version Button -->
  <span
    menu-trigger
    class="change-log-button"
  >
    <h2
      [class.warning]="changeLog.appDiff().impact === 'minor' && changeLog.appDiff().delta"
      [class.error]="changeLog.appDiff().impact === 'major' && changeLog.appDiff().delta"
    >
      v{{ packageJson.version }}
      @if (changeLog.appDiff().delta) {
        @if (changeLog.appDiff().impact === 'patch') { <i class="pi pi-info-circle"></i> }
        @if (changeLog.appDiff().impact === 'minor') { <i class="pi pi-exclamation-circle"></i> }
        @if (changeLog.appDiff().impact === 'major') { <i class="pi pi-exclamation-triangle"></i> }
      }
    </h2>
  </span>

  <!-- Menu Content: Changelog -->
  <div menu-content *transloco="let t">
    <div menu-header class="menu-change-log-header">
      <h3>
        <a [href]="packageJson.repository" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-github"></i>
          {{ t('menu.Change Log') }}
        </a>
      </h3>
      <hr />
      @if ( changeLog.appDiff().delta ) {
        <h4
          [class.warning]="changeLog.appDiff().impact === 'minor'"
          [class.error]="changeLog.appDiff().impact === 'major'"
        >
          {{ semverMessage() }}
        </h4>
        @if( !isTauri() ) { <p>{{ t('menu.If it doesn’t update momentarily, please try to clear your cache and refresh your browser.')}}</p> }
        @else {
          <p>
            {{ t('menu.If you encounter problems, use the web version at') }}
            <a
              [href]="packageJson.siteUrl"
              target="_blank"
              rel="noopener noreferrer"
              (keydown.enter)="$event.stopPropagation()"
            >{{ packageJson.siteUrl }}</a>{{ t('menu.until an app update is ready.') }}
          </p>
        }
      }
    </div>

    <div menu-body appScrollIndicator class="menu-change-log-body">
      @for (change of changeLog.changes(); track change.version) {
        <p-card>
          <ng-template pTemplate="header">
            <h4>
              {{ change.version }} · {{ change.description }} 
            </h4>
          </ng-template>
          <p>@ {{ change.date }}</p>
          <ul class="bulleted">
            @for (item of change.changes; track item) {
              <li>{{ item }}</li>
            }
          </ul>
        </p-card>
      }
    </div>
  </div>
</app-dialog-menu>
